<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body >
<div th:insert="Fragments/Header :: defaultHeader"> </div>
<div th:each="el : ${News}" ></div>
<form th:object="${news}" th:action="'/News/edit/' + ${id}", method="post" class="Zapis">
  <p>Заголовок:
    <input type="text" th:value="${title}" id="title" name="title" th:field="*{title}" placeholder="Заголовок">
  <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </div>
  </p>
  <p>Текст новости:
  <input type="text" th:value="${body_text}" id="body_text" name="body_text" th:field="*{body_text}" placeholder="Текст">
  <div th:if="${#fields.hasErrors('body_text')}" th:errors="*{body_text}" > </div>
  </p>
  <p>Автор:
  <input type="text" th:value="${author}" id="author" name="author" placeholder="Автор">
  <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"> </div>
  </p>
  <p>Количество просмотров:
  <input type="number" th:value="${views}" id="views" name="views" placeholder="Просмотры">
  <div th:if="${#fields.hasErrors('views')}" th:errors="*{views}"> </div>
  </p>
  <p>Количество лайков:
  <input type="number" th:value="${likes}" id="likes" name="likes" placeholder="Лайки">
  <div th:if="${#fields.hasErrors('likes')}" th:errors="*{likes}"> </div>
  </p><br>

  <input type="submit" value="изменить новость" class="btn btn-seccsess"/> <br>
  <a href="/News/"> Назад</a>
  </div>
</form>
</body>
</html>