<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body >
<p th:text="'Привет и добро пожаловать в новую практическую ' + ${name}" />
<div th:insert="Fragments/Header :: defaultHeader"> </div>
<form action="/News/Search">
  <input type="text" name="title">
  <input type="submit" value="Найти новость по точному названию">
</form>
<form action="/News/Searchs">
  <input type="text" name="title  ">
  <input type="submit" value="Найти новость ">
</form>
<div style="display: inline-grid">
<div th:each="el : ${news}" class="Zapis">
  <h2 th:text="${el.title}"> </h2>
  <h2 th:text="${el.author}"> </h2>
  <h2 th:text="${el.body_text}"> </h2>
  <p th:text="${el.views}"> </p>
  <p th:text="${el.likes}"> </p>
  <a th:href="'/News/del/' + ${el.id}" class="btn btn-primary">Удалить</a> <br>
  <a th:href="'/News/edit/' + ${el.id}" class="btn btn-primary">Изменить</a> <br>
  <a href="/News/" class="btn btn-primary">Назад к новостям</a>
  </div>
</div>
</body>
</html>